@import 'variables.scss';

.category {
    margin: 10px 0;

    &--open {
        background-color: $background2;
    }

    &--progress {
        display: flex;
        align-items: center;

        &-bar {
            width: 100px;
            margin: 0 20px;
        }
    }
}
