<mat-expansion-panel
    class="category"
    [ngClass]="{ 'category--open': category.isOpened }"
    (opened)="onCategoryPanelClick(true)"
    (closed)="onCategoryPanelClick(false)">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ category.name }}
        </mat-panel-title>
        <ng-container *ngIf="!category.isOpened">
            <div class="category--progress">
                <mat-progress-bar
                    class="category--progress-bar"
                    color="primary"
                    mode="determinate"
                    [value]="progress">
                </mat-progress-bar>
            </div>
        </ng-container>
        <wp-edition
            (deleteElement)="deleteCategory()"
            (editElement)="editCategory()"></wp-edition>
    </mat-expansion-panel-header>

    <div class="category--progress-extended">
        <span>
            {{ 'toDoList.progress' | translate }}
            {{ progress | number: '1.0-0' }}%
        </span>
        <mat-progress-bar
            class="category--progress-bar"
            color="primary"
            mode="determinate"
            [value]="progress">
        </mat-progress-bar>
    </div>

    <button mat-raised-button color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>
        <span>
            {{ 'toDoList.addTask' | translate }}
        </span>
    </button>

    <wp-table-element
        *ngFor="let task of category.tasks"
        [task]="task"
        [categoryId]="category.id"></wp-table-element>
</mat-expansion-panel>
