<h1 mat-dialog-title>{{ data.title | translate | capitalize }}</h1>

<div mat-dialog-content>
    <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>{{ 'toDoList.categoryName' | translate }}</mat-label>
        <ng-container *ngIf="!!data.options?.length; else emptyOptionsTmpl">
            <input
                matInput
                [(ngModel)]="data.categoryName"
                [matAutocomplete]="auto"
                required />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                    *ngFor="let option of data.options"
                    [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </ng-container>
        <ng-template #emptyOptionsTmpl>
            <input matInput [(ngModel)]="data.categoryName" required />
        </ng-template>
    </mat-form-field>
</div>

<div mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onCancelClick()">
        {{ 'app.cancel' | translate }}
    </button>
    <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="data.categoryName"
        [disabled]="!data.categoryName.length">
        {{ confirmButtonLabel | translate }}
    </button>
</div>
