<div class="task">
    <div
        class="task--header"
        (click)="onTaskPanelClick(!task.isOpened)"
        [ngClass]="{ 'task--header-selected': task.isOpened }">
        <mat-checkbox
            [ngModel]="task.isFinished"
            (click)="
                changeFinishStatus(); $event.stopPropagation()
            "></mat-checkbox>
        <span>{{ task.name }}</span>
        <span>{{ task.endDate | date: 'dd-MM-yyyy' }}</span>
        <wp-edition
            (editElement)="editTask()"
            (deleteElement)="deleteTask()"></wp-edition>
    </div>
    <div class="task--description" *ngIf="task.isOpened">
        <ng-container *ngIf="!!task.notes.length; else emptyNotesTmpl">
            <div class="task--description-text">
                <span>{{ task.notes }}</span>
            </div>
        </ng-container>
        <ng-template #emptyNotesTmpl>
            <div class="task--description-button">
                <button mat-button color="primary" (click)="editTask()">
                    <mat-icon>add</mat-icon>
                    <span> {{ 'toDoList.addNotes' | translate }}</span>
                </button>
            </div>
        </ng-template>
    </div>
</div>
