$img-size: 150px;

.card {
    padding: 30px;
    display: grid;
    grid-template-columns: auto $img-size;
    gap: 2em;

    img {
        width: $img-size;
        height: $img-size;
    }

    .no-image {
        grid-column: span 2;
    }
}

mat-card {
    width: auto;
}
