<div class="table">
    <ng-container *ngIf="!!categories?.length; else emptyCategories">
        <div class="table--buttons">
            <div>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="openNewCategoryDialog()">
                    <mat-icon>add</mat-icon>
                    <span>
                        {{ 'toDoList.addCategory' | translate }}
                    </span>
                </button>
                <button
                    mat-raised-button
                    color="accent"
                    (click)="downloadTasksList()">
                    <mat-icon>save_alt</mat-icon>
                    <span>
                        {{ 'toDoList.downloadToDoList' | translate }}
                    </span>
                </button>
            </div>
            <div>
                <button
                    mat-button
                    color="primary"
                    (click)="accordion.openAll(); isExpanded = true"
                    [disabled]="isExpanded"
                    [matTooltip]="'toDoList.expandAll' | translate"
                    matTooltipPosition="above">
                    <mat-icon>expand_more</mat-icon>
                </button>
                <button
                    mat-button
                    color="primary"
                    (click)="accordion.closeAll(); isExpanded = false"
                    [disabled]="!isExpanded"
                    [matTooltip]="'toDoList.collapseAll' | translate"
                    matTooltipPosition="above">
                    <mat-icon>expand_less</mat-icon>
                </button>
            </div>
        </div>

        <mat-accordion #accordion="matAccordion" [multi]="true">
            <wp-table-category
                *ngFor="let category of categories; trackBy: identifierFn"
                [category]="category">
            </wp-table-category>
        </mat-accordion>
    </ng-container>

    <ng-template #emptyCategories>
        <div class="table--empty">
            <wp-create-new
                [text]="'toDoList.newCategoryTooltip' | translate"
                (itemClicked)="openNewCategoryDialog()">
            </wp-create-new>
        </div>
    </ng-template>
</div>
