.table {
    &--buttons {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        margin: 50px 0 20px;

        button:not(:last-of-type) {
            margin-right: 20px;
        }
    }
}
