<mat-drawer-container class="navigation">
    <mat-drawer class="navigation--bar" mode="side" opened>
        <h2>WeddingPlanner</h2>

        <div class="navigation--item" routerLink="/todos">
            <mat-icon>playlist_add_check</mat-icon>
            <span>
                {{ 'toDoList.title' | translate }}
            </span>
        </div>
        <mat-divider></mat-divider>
        <div class="navigation--item" routerLink="/budget">
            <mat-icon> attach_money</mat-icon>
            <span>
                {{ 'budget.title' | translate }}
            </span>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <ng-content></ng-content>
    </mat-drawer-content>
</mat-drawer-container>
