@import 'variables.scss';

.navigation {
    height: 100vh;

    &--bar {
        width: 200px;
        background-color: $accent;
        color: $white;
    }

    &--item {
        padding: 10px 25px;
        column-gap: 5px;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
            background-color: $accent2;
        }
    }
}
