<h1 mat-dialog-title>{{ title | translate | capitalize }}</h1>
<div mat-dialog-content class="dialog">
    <mat-form-field appearance="fill" class="dialog--element">
        <mat-label>{{ 'app.name' | translate }}</mat-label>
        <input matInput [(ngModel)]="spendingDialog.spending.name" required />
    </mat-form-field>
    <mat-form-field appearance="fill" class="dialog--element">
        <mat-label>{{ 'budget.price' | translate }}</mat-label>
        <input
            matInput
            type="number"
            min="0"
            [(ngModel)]="spendingDialog.spending.price"
            required />
    </mat-form-field>
    <mat-form-field appearance="fill" class="dialog--element">
        <mat-label>{{ 'budget.advance' | translate }}</mat-label>
        <input
            matInput
            type="number"
            min="0"
            [(ngModel)]="spendingDialog.spending.moneyAlreadyPaied" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="dialog--element">
        <mat-label>{{ 'app.notes' | translate }}</mat-label>
        <textarea
            matInput
            [(ngModel)]="spendingDialog.spending.notes"></textarea>
    </mat-form-field>
</div>

<div mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onCancelClick()">
        {{ 'app.cancel' | translate }}
    </button>
    <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="spendingDialog.spending"
        [disabled]="
            !spendingDialog.spending.name && !spendingDialog.spending.price
        ">
        {{ confirmButtonLabel | translate }}
    </button>
</div>
