<wp-table-category [category]="category">
    <div table-category-elements>
        <button
            mat-raised-button
            color="primary"
            (click)="openAddSpendingDialog()">
            <mat-icon>add</mat-icon>
            <span>
                {{ 'budget.addSpending' | translate }}
            </span>
        </button>

        <div class="table--header">
            <span></span>
            <span>Cena</span>
            <span>Zaliczka</span>
            <span>Pozostało</span>
        </div>

        <wp-budget-table-element
            *ngFor="let spending of category.spendings"
            [spending]="spending"
            [categoryId]="category.id">
        </wp-budget-table-element>
    </div>
</wp-table-category>
