@import 'variables.scss';
@import 'theme.scss';

.task {
    &--header {
        padding: 5px 20px;
        display: grid;
        grid-template-columns: 4% 73% 16% 7%;
        background-color: $white;
        align-items: center;
        z-index: 2;

        &:hover {
            cursor: pointer;
            background-color: $accent-light;
        }

        &-selected {
            background-color: $background-lighter;
        }
    }
}
