<mat-drawer-container class="navigation">
    <mat-drawer class="navigation--bar" mode="side" opened>
        <nav>
            <a routerLink="./dashboard">
                <wp-logo [type]="'light'"></wp-logo>
            </a>
            <mat-divider></mat-divider>
            <a class="navigation--item" routerLink="./todos">
                <mat-icon>playlist_add_check</mat-icon>
                <span>
                    {{ 'toDoList.title' | translate }}
                </span>
            </a>
            <mat-divider></mat-divider>
            <a class="navigation--item" routerLink="./budget">
                <mat-icon>attach_money</mat-icon>
                <span>
                    {{ 'budget.title' | translate }}
                </span>
            </a>
            <mat-divider></mat-divider>
            <a class="navigation--item" routerLink="./guests">
                <mat-icon>people</mat-icon>
                <span>
                    {{ 'guests.title' | translate }}
                </span>
            </a>
            <mat-divider></mat-divider>
            <a class="navigation--item" routerLink="./statistics">
                <mat-icon>bar_chart</mat-icon>
                <span>
                    {{ 'statistics.title' | translate }}
                </span>
            </a>
            <mat-divider></mat-divider>
        </nav>
        <wp-countdown [weddingDate]="weddingDate$ | async"></wp-countdown>
    </mat-drawer>
    <mat-drawer-content>
        <ng-content></ng-content>
    </mat-drawer-content>
</mat-drawer-container>
