@import 'variables.scss';

.navigation {
    height: 100vh;

    &--bar {
        width: 250px;
        background-color: $primary;

        nav {
            margin-bottom: 2em;
        }
    }

    &--item {
        color: $white;
        padding: 10px 25px;
        column-gap: 5px;
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
            background-color: $primary2;
        }
    }

    a:visited,
    a:link {
        text-decoration: none;
    }
}
