.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 50%);

    &--content {
        place-self: center;
    }

    &--divider {
        background-color: rebeccapurple;
    }
}
