@import 'theme.scss';

.icons {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    position: relative;
    animation-name: example;
    animation-duration: 0.3s; 

    &--edit:hover {
        cursor: pointer;
        color: mat-color($accent);
    }

    &--delete:hover {
        cursor: pointer;
        color: mat-color($warn);
    }
}

@keyframes example {
    0%   { left:50px; top:0px;}
    100%  { left:0px; top:0px;}
}

.popup {
    padding: 5px 15px;

    &--buttons {
        display: flex;
        justify-content: flex-end;
        column-gap: 10px;
    }
}