@import 'variables.scss';

.category {
    @extend .flex;

    &--progress-bar {
        width: 100px;
        margin: 0 20px;
    }

    &--expanded {
        @extend .flex;
        margin-bottom: 2em;
    }
}

.flex {
    display: flex;
    align-items: center;
}
