.item {
    flex-basis: max-content;
    padding: 1.5em;

    p {
        margin: 0.5em;
        font-size: 2em;
        text-align: center;
    }

    &--icon {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
    }

    .overdraft {
        color: red;
    }
}
