<div class="overview">
    <wp-overview-item
        class="overview--item"
        [type]="'money'"
        [amountOfMoney]="budget$ | async"
        [title]="'budget.title' | translate">
        <button mat-icon-button (click)="editBudget()" icon>
            <mat-icon>edit</mat-icon>
        </button>
    </wp-overview-item>

    <ng-container *ngIf="budgetInfo$ | async as budgetInfo">
        <wp-overview-item
            class="overview--item"
            [type]="'money'"
            [amountOfMoney]="budgetInfo.budgetLeft"
            [title]="'budget.moneyLeft' | translate">
        </wp-overview-item>

        <wp-overview-item
            class="overview--item"
            [type]="'money'"
            [amountOfMoney]="budgetInfo.budgetSpent"
            [title]="'budget.plannedMoney' | translate">
        </wp-overview-item>
    </ng-container>
</div>
