<div class="overview">
    <wp-budget-overview-item
        [amountOfMoney]="budget$ | async"
        [title]="'budget.title' | translate">
        <button mat-icon-button (click)="editBudget()" icon>
            <mat-icon>edit</mat-icon>
        </button>
    </wp-budget-overview-item>

    <ng-container *ngIf="budgetInfo$ | async as budgetInfo">
        <wp-budget-overview-item
            [amountOfMoney]="budgetInfo.budgetLeft"
            [title]="'budget.moneyLeft' | translate"
            [moneyType]="'left'">
        </wp-budget-overview-item>

        <wp-budget-overview-item
            [amountOfMoney]="budgetInfo.budgetSpent"
            [title]="'budget.plannedMoney' | translate"
            [moneyType]="'spent'">
        </wp-budget-overview-item>
    </ng-container>
</div>
